*.merge merge=unityyamlmerge
*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.meta merge=unityyamlmerge
*.controller merge=unityyamlmerge
*.anim merge=unityyamlmerge
*.mat merge=unityyamlmerge
*.physicMaterial merge=unityyamlmerge
*.physicsMaterial2D merge=unityyamlmerge
*.renderTexture merge=unityyamlmerge
*.naturalmotiondata merge=unityyamlmerge
